---
import ReactJS from "../../icons/stack/React.astro";
import MaterialUI from "../../icons/stack/MaterialUI.astro";
import ProjectCard from "./ProjectCard.astro";

// Definición de las etiquetas para las tecnologías usadas
const TAGS = {
  REACT: {
    name: "React.js",
    class: "bg-blue-500 text-white",
    icon: ReactJS,
  },
  MATERIALUI: {
    name: "Material UI",
    class: "bg-blue-700 text-white",
    icon: MaterialUI,
  },
  GRAPHQL: {
    name: "GraphQL",
    class: "bg-pink-500 text-white",
    icon: "GraphQL",
  },
  REDUX: {
    name: "Redux",
    class: "bg-purple-700 text-white",
    icon: "Redux",
  },
  SASS: {
    name: "Sass/CSS",
    class: "bg-pink-300 text-white",
    icon: "Sass",
  },
};

const PROJECTS = [
  {
    title: "Usability Improvement in LinkedAI",
    description:
      "Optimized LinkedAI platform usability with AI for auto image tagging and high-performance viewer development for enhanced user interaction.",
    tecnologia: "React",
    link: "", // Add link if available
    github: "", // Add link if available
    imagen: "/images/projects/linkedai.webp",
    tags: [TAGS.REACT, TAGS.MATERIALUI, TAGS.GRAPHQL, TAGS.REDUX],
  },
  {
    title: "Earthquake and Volcano Visualizer - SGC",
    description:
      "Innovated a seismic and volcanic data viewer for SGC, improving UX and emergency response efficiency with enhanced geological data visualization.",
    tecnologia: "React",
    link: "", // Add link if available
    github: "", // Add link if available
    imagen: "/images/projects/sgc.webp",
    tags: [TAGS.REACT, TAGS.SASS, TAGS.REDUX],
  },
  {
    title: "E-Commerce Development - Lobocueros S.A.S",
    description:
      "Led e-commerce platform creation for Lobocueros, integrating a product catalog, payment process, and responsive design for optimal user engagement.",
    tecnologia: "React",
    link: "", // Add link if available
    github: "", // Add link if available
    imagen: "/images/projects/lobocueros.webp",
    tags: [TAGS.REACT, TAGS.MATERIALUI, TAGS.SASS],
  },
];
---

<div class="grid grid-cols-1 gap-4 mt-4 sm:grid-cols-2 justify-items-center">
  {
    PROJECTS.map((project) => (
      <article>
        {console.log("project", project)}
        <ProjectCard project={project} />
      </article>
    ))
  }
</div>
