---
import ProjectCard from "./ProjectCard.astro";
import { PROJECTS } from "../utils/Info.js";
---

<div class="grid grid-cols-1 gap-4 mt-4 sm:grid-cols-2 justify-items-center">
  {
    PROJECTS.map((project) => (
      <article>
        <ProjectCard project={project} />
      </article>
    ))
  }
</div>
