---
import Layout from "../layouts/Layout.astro";
import PresentationSection from "../sections/PresentationSection.astro";
import ExperienceSection from "../sections/ExperienceSection.astro";
import ProjectsSection from "../sections/ProjectsSection.astro";
import '../styles/global.css';
---

<Layout
  title="Santiago Salas Portfolio | Frontend Web Developer | 4+ Years of Experience"
  description="Santiago Salas Portfolio - Frontend Web Developer with more than 4 years of experience"
>
  <main class="px-4">
    <PresentationSection />
    <ExperienceSection />
    <ProjectsSection />
  </main>
</Layout>
