---
import ThemeIcon from "../icons/ThemeIcon.astro";
import Logo from "./assets/Logo.astro";

const links = [
  { href: "#experience", text: "Experience" },
  { href: "#projects", text: "Projects" },
  { href: "#contact", text: "Contact" },
];
---

<header
  class="fixed top-0 left-0 flex justify-between items-center py-5 w-full px-5 lg:px-32 xl:px-40 z-50 transition-all duration-300 ease-in-out"
  id="header"
>
  <a href="#"><Logo /></a>
  <nav class="flex flex-row gap-x-4 text-sm sm:text-base">
    {
      links.map((link) => (
        <a
          class="hover:text-blue-600 dark:hover:text-blue-400 focus:text-blue-600 dark:focus:text-blue-400 transition font-semibold"
          href={link.href}
        >
          {link.text}
        </a>
      ))
    }
  </nav>
  <ThemeIcon color="#ffffff" />
</header>

<script>
  const header = document.getElementById('header');
  let lastScroll = 0;

  window.addEventListener('scroll', () => {
    const currentScroll = window.pageYOffset;
    
    if (currentScroll > 50) {
      header?.classList.remove('py-5');
      header?.classList.add('py-3');
      header?.classList.add('bg-[#F2F2F2]/70');
      header?.classList.add('dark:bg-[#0B0B0B]/70');
    } else {
      header?.classList.remove('py-3');
      header?.classList.add('py-5');
      header?.classList.remove('bg-[#F2F2F2]/70');
      header?.classList.remove('dark:bg-[#0B0B0B]/70');
    }
    
    lastScroll = currentScroll;
  });
</script>