---
import ThemeIcon from "../icons/ThemeIcon.astro";

const links = [
  { href: "#experience", text: "Experience" },
  { href: "#projects", text: "Projects" },
  { href: "#contact", text: "Contact" },
];
---

<header
  class="flex justify-between items-center py-5 w-full px-5 lg:px-32 xl:px-40"
>
  <a href="#"
    ><img
      src="/icons/SantiHub.svg"
      class="h-8"
      alt="Santiago Salas Bolaños Logo"
    /></a
  >
  <nav class="flex flex-row gap-x-4 text-sm sm:text-base">
    {
      links.map((link) => (
        <a
          class="hover:text-blue-600 dark:hover:text-blue-400 focus:text-blue-600 dark:focus:text-blue-400 transition font-semibold"
          href={link.href}
        >
          {link.text}
        </a>
      ))
    }
  </nav>
  <ThemeIcon color="#ffffff"/>
</header>
