---
import ReactJS from "../icons/React.astro";
import MaterialUI from "../icons/MaterialUI.astro";
import ProjectCard from "../components/ProjectCard.astro";

// Definición de las etiquetas para las tecnologías usadas
const TAGS = {
  REACT: {
    name: "React.js",
    class: "bg-blue-500 text-white",
    icon: ReactJS,
  },
  MATERIALUI: {
    name: "Material UI",
    class: "bg-blue-700 text-white",
    icon: MaterialUI,
  },
  GRAPHQL: {
    name: "GraphQL",
    class: "bg-pink-500 text-white",
    icon: "GraphQL",
  },
  REDUX: {
    name: "Redux",
    class: "bg-purple-700 text-white",
    icon: "Redux",
  },
  SASS: {
    name: "Sass/CSS",
    class: "bg-pink-300 text-white",
    icon: "Sass",
  },
};

const PROJECTS = [
  {
    title: "Mejora de Usabilidad en LinkedAI",
    description:
      "Optimización de la usabilidad de la plataforma de LinkedAI, implementando AI para etiquetado automático de imágenes y desarrollando un visor interactivo de alta performance.",
    tecnologia: "React",
    link: "", // Añadir enlace si está disponible
    github: "", // Añadir enlace si está disponible
    imagen: "/projects/linkedai.webp",
    tags: [TAGS.REACT, TAGS.MATERIALUI, TAGS.GRAPHQL, TAGS.REDUX],
  },
  {
    title: "Visualizador de Terremotos y Volcanes - SGC",
    description:
      "Creación de un innovador visualizador de información sísmica y volcánica para el SGC, mejorando significativamente la experiencia de usuario y la eficiencia en la respuesta a emergencias geológicas.",
    tecnologia: "React",
    link: "", // Añadir enlace si está disponible
    github: "", // Añadir enlace si está disponible
    imagen: "/projects/sgc.webp",
    tags: [TAGS.REACT, TAGS.SASS, TAGS.REDUX],
  },
  {
    title: "Desarrollo de E-Commerce - Lobocueros S.A.S",
    description:
      "Lideré el diseño y desarrollo de una plataforma e-commerce desde cero, integrando un catálogo de productos, procesamiento de pagos y un diseño responsivo.",
    tecnologia: "React",
    link: "", // Añadir enlace si está disponible
    github: "", // Añadir enlace si está disponible
    imagen: "/projects/lobocueros.webp",
    tags: [TAGS.REACT, TAGS.MATERIALUI, TAGS.SASS],
  },
];
---

<div
  class="grid grid-cols-1 gap-4 mt-4 sm:grid-cols-2 justify-items-center"
>
  {
    PROJECTS.map((project) => (
      <article>
        {console.log('project', project)}
        <ProjectCard project={project} />
      </article>
    ))
  }
</div>
