---
import SectionContainer from "../components/utils/SectionContainer.astro";
import Title from "../components/presentation/Title";
import Subtitle from "../components/presentation/Subtitle";
import SocialLinks from "../components/presentation/SocialLinks";
import ScrollArrows from "../components/presentation/ScrollArrows";
---

<SectionContainer
  class="min-h-[100vh] flex flex-col items-center justify-center py-[30vh] gap-8"
>
  <div class="flex flex-col items-center justify-center px-1 md:px-4 sm:px-0 gap-2">
    <Title client:load />
    <Subtitle client:load />
    <SocialLinks client:load />
  </div>
  <div class="md:mt-[5vh]">
    <ScrollArrows client:load />
  </div>
</SectionContainer>
