---
import ExperienceItem from "./ExperienceItem.astro";
import { EXPERIENCE } from "../utils/Info.js";

---

<ol class="relative border-s border-gray-700 dark:border-gray-300 ml-3 mt-4">
  {
    EXPERIENCE.map((experience) => (
      <li class="mb-10 ms-4">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>